html
    head
        title #{title}
        link(rel='stylesheet' 
             href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css'
             integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
             crossorigin="anonymous")
        link(rel='stylesheet' href='css/index.css')
    body
        div#container
            h1.text-center 博客网址提交系统
            form#form
                div.form-group
                    label(for="ID") 学号
                    input.form-control#ID
                div.form-group
                    label(for="url") 网址
                    input.form-control#url
                button.btn.btn-default#submit(type='submit') 提交

        
        script(type='text/javascript' src='http://code.jquery.com/jquery-latest.js')
        script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
               integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
               crossorigin="anonymous")
        script(type='text/javascript' src='js/index.js')